name: Test Release

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"

      - name: Run GoReleaser (dry run)
        uses: goreleaser/goreleaser-action@v6
        with:
          args: release --clean --snapshot --skip=publish
